<!doctype html>
<html>
    <head>
        {% block head %}{%endblock head%}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {%if user.is_authenticated %}
                    <li><a href={%url "logout"%}>Logout</a></li>
                    <li><a href={% url "home"%}>Receipts</a></li>
                    <li><a href={% url "account_list"%}>Accounts</a></li>
                    <li><a href={% url "category_list"%}>Categories</a></li>
                    <li><a href={% url "create_receipt"%}>Create Receipts</a></li>
                    <li><a href={% url "create_account"%}>Create Accounts</a></li>
                    <li><a href={% url "create_category"%}>Create Categories</a></li>
                    {%else %}
                    <li><a href={% url "signup" %}>Sign Up</a></li>
                    <li><a href={% url "login" %}>Login</a></li>
                    {%endif%}
                </ul>
            </nav>
        </header>

        <main>
        {%block main%}{%endblock main%}
        </main>
    </body>
</html>
