{% extends "base.html" %}
{%block head%}
<title>Sign Up</title>
{%endblock head%}
{%block main%}
    <div>
        <h1>Signup</h1>
        <form method="POST">
            {%csrf_token%}
            {{form.as_p}}
            <button type="submit">Signup</button>
        </form>
    </div>
{%endblock main%}
