{% extends "base.html" %}
{%block head%}
<title>Home</title>
{%endblock head%}
{%block main%}
    <h1>My Receipts</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
        <tbody>
            {%for account in accounts%}
            <tr>
                <td>yes</td>
                <td>{{account.name}}</td>
                <td>{{account.number}}</td>
                <td>{{account.receipts.all|length}}</td>

            </tr>
            {%endfor%}
        </tbody>
        </tbody>
    </table>
{%endblock main%}
