{% extends "base.html" %}
{%block head%}
<title>Home</title>
{%endblock head%}
{%block main%}
    <h1>My Receipts</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
        <tbody>
            {%for category in categories%}
            <tr>
                <td>{{category.name}}</td>
                <td>{{category.receipts.all|length}}</td>
                
            </tr>
            {%endfor%}
        </tbody>
    </table>
{%endblock main%}
